<!--<app-navbar/>-->

<div class="row m-0">
  <div class="col-md-3 bg-secondary text-light p-4 config-bar col-12">
    <div class="row">

      <div class="mb-2 col-12" id="customers">
        <label for="customerSelector">Selecciona un usuari:</label>
        <select id="customerSelector" class="form-select" [(ngModel)]="selectedCupsCustomer">
          <option></option>
          <option  *ngFor="let customer of customers" [ngValue]="customer">
          {{customer.name}} {{customer.cups}}
          </option>
        </select>
      </div>

      <div class="mb-2 col-12" id="date">
        <label for="daySelector">Selecciona una data:</label>
        <input id="daySelector" class="form-control" type="date" [ngModel] ="unformattedDate | date:'yyyy-MM-dd'">
      </div>

      <div class="mb-2 col-12">
        <!-- <label for="originDataTypeSelector">Origin:</label>
        <select id="originDataTypeSelector" class="form-select">
          @for (originDataType of originDataTypes) {
          <option value={{customer.id}}>
          {{originDataType}}
          </option>
          }
        </select> -->


        <label for="originDataTypeSelector">Origen:</label>
        <select id="originDataTypeSelector" [(ngModel)]="selectedCupsOriginDataType" class="form-select px-2">
          <option></option>
          <option *ngFor="let originDataType of originDataTypes" [ngValue]="originDataType">{{originDataType}}</option>
        </select>

      </div>



    </div>
  </div>

  <div class="col-12 col-md-9 p-0">
    <div class="row m-0">
      <div class="d-flex align-items-center justify-content-center p-2" style="background-color: #d2d2d2"><b
        class="text-center" id="yearTitle">Any {{year}}</b></div>
      <div class="col-12 col-md-6 m-auto d-flex align-items-center justify-content-center m-auto" style="min-height: 300px">
           <app-chart [chartId]="'monthChart'" [chartType]="monthChartType" [labels]="monthChartLabels" [datasets]="monthChartDatasets"
            [updateSubject]="updateMonthChartSubject.asObservable()" class="w-100 h-100"></app-chart>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center m-auto">
        <div class="col-md-6 col-12">
         <app-chart [chartId]="'yearChart'" [chartType]="yearChartType" [datasets]="yearChartDatasets" [labels]="yearChartLabels"
          [updateSubject]="updateYearChartSubject.asObservable()" class="w-100 h-100"></app-chart>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-md-6 m-0 p-0">
        <div class="d-flex align-items-center justify-content-center p-2" style="background-color: #d2d2d2 ">

          <b> Setmana </b>
          &nbsp;
          @if (week) {
          <b> {{week}}</b>
          }
          @if (simpleWeekDateInit && simpleWeekDateEnd) {
          <b> : {{simpleWeekDateInit}} - {{simpleWeekDateEnd}}</b>
          }

        </div>
         <app-chart [chartType]="weekChartType" [labels]="weekChartLabels" [datasets]="weekChartDatasets" [chartId]="'weekChart'"
          [updateSubject]="updateWeekChartSubject.asObservable()"></app-chart>
      </div>
      <div class="col-12 col-md-6 m-0 p-0">
        <div class="d-flex align-items-center justify-content-center p-2" style="background-color: #d2d2d2 ">
          <b>Dia &nbsp;{{date}}</b><b id="dayTitle"></b>
        </div>
         <app-chart [chartType]="dayChartType" [labels]="dayChartLabels" [datasets]="dayChartDatasets" [chartId]="'dayChart'"
          [updateSubject]="updateDayChartSubject.asObservable()"></app-chart>

      </div>
    </div>
  </div>
