.select {
    width: 196px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  select {
    width: 90%;
    min-width: 90%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  input {
    width: 90%;
    min-width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type=text]{
    width: 90%;
    min-width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type=number]{
    width: 90%;
    min-width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input[type=date]{
    width: 90%;
    min-width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
  }