<app-navbar/>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <app-datatable
        [title]="'calendar'"
        [columns]="columns"
        [columnDefs]="columnDefs"
        [url]="url"
        [addRows]="addRows"
        [editRows]="editRows"
        [filterParams]="filterParams"
        [filterColumns]="filterColumns"
        [refreshRows]="refreshRows"
        (editRequest)="editRequest($event)"
        (deleteRequest)="deleteRequest($event)"
      />
    </div>
  </div>
</div>
