<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h3>Reset password</h3>
      <form (ngSubmit)="save()" [formGroup]="form" id="form">
        <div>
          <label for="password-1">Put your password: </label>
          <app-input-password formControlName="password1" id="password-1"></app-input-password>
          <app-invalid-feedback *ngIf="form.controls.password1.invalid && !firstTry">Password not valid
          </app-invalid-feedback>
        </div>
        <div>
          <label for="password-2">Confirm your password</label>
          <app-input-password formControlName="password2" id="password-2"></app-input-password>
          <app-invalid-feedback *ngIf="form.controls.password2.invalid && !firstTry">Password not valid
          </app-invalid-feedback>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex gap-2 justify-content-end">
      <button class="btn btn-primary" form="form" type="submit">Save</button>
      <button (click)="login()" class="btn btn-secondary" type="button">Login</button>
    </div>
  </div>
</div>
