.header-calculate {
    background-color: #0e2b4c;
}

.footer-calculate {
    background-color: #0e2b4c;
}

.section-content-padding {
    margin-left: 32px;
    margin-right: 0px;
}

span {
    font-size: 14px;
}


.btn-default {
    width: 115px;
}

.area-default {
    width: 115px;
}

.custom-chart {
    max-height: 300px;
}

@media only screen and (min-width: 768px) {

    span {
        font-size: 16px;
    }

    .w-md-50 {
        width: 50% !important;
    }

}

@media only screen and (max-width: 768px) {
    .btn-default {
        width: 100%;
    }

    .custom-chart {
        max-height: 500px;
    }
}



.collapser {
    cursor: pointer;
}

.container-body {
    background-color: #f4f6f6;
}

th {
    font-weight: 500;
}

.btn-list {
    border-radius: 30px;
    height: 40px;
    width: 40px;
}

// .swal-btn{
//     height: 44px !important;
//     width: 66px !important;
// }