.header-calculate {
    background-color: #0e2b4c;
}

.footer-calculate {
    background-color: #0e2b4c;
}

.section-content-padding {
    margin-left: 32px;
    margin-right: 0px;
}

span {
    font-size: 14px;
}

@media only screen and (min-width: 768px) {

    span {
        font-size: 16px;
    }

    .w-md-50 {
        width: 50% !important;
    }

}

.custom-chart {
    max-height: 300px;
}



.collapser {
    cursor: pointer;
}

.container-body {
    background-color: #f4f6f6;
}