<div class="modal-header">
  <h2>
    {{editing ? 'Editar usuari' : 'Crear usuari'}}
  </h2>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" class="d-flex flex-column gap-2" id="form">
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="username">Nom d'usuari
          <app-required-field />
        </label>
      </div>
      <div class="col">
        <input autocomplete="off" class="form-control" formControlName="username" id="username" type="text">
        <app-invalid-feedback *ngIf="formGroup.controls.username.invalid && !firstAttempt()">Username not valid
        </app-invalid-feedback>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="email">Correu electrònic
          <app-required-field />
        </label>
      </div>
      <div class="col">
        <input class="form-control" formControlName="email" id="email" type="email">
        <app-invalid-feedback *ngIf="formGroup.controls.email.invalid && !firstAttempt()">Email not valid
        </app-invalid-feedback>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="firstname">Nom
          <app-required-field />
        </label>
      </div>
      <div class="col">
        <input autocomplete="off" class="form-control" formControlName="firstname" id="firstname" type="text">
        <app-invalid-feedback *ngIf="formGroup.controls.firstname.invalid && !firstAttempt()">Firstname not valid
        </app-invalid-feedback>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="lastname">Cognom
          <app-required-field />
        </label>
      </div>
      <div class="col">
        <input autocomplete="off" class="form-control" formControlName="lastname" id="lastname" type="text">
        <app-invalid-feedback *ngIf="formGroup.controls.lastname.invalid && !firstAttempt()">Lastname not valid
        </app-invalid-feedback>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <label class="form-label"> Client</label>
      </div>
      <div class="col">
        <div class="d-flex gap-2">
          <ng-select [clearable]="false" [(ngModel)]="selectedCustomerId" name="customer-id-input"
            formControlName="customerId" class="w-100">
            <ng-option *ngFor="let customer of availableCustomers" [value]="customer.id">
              <span class="text-capitalize">{{ customer.name }}</span>
            </ng-option>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3">
        <label for="wallet">Wallet address</label>
      </div>
      <div class="col">
        <div class="d-flex gap-2">
          <input autocomplete="off" class="form-control" formControlName="wallet" id="wallet" type="text">
          <button (click)="fillWallet()" *ngIf="walletInstalled()" class="btn btn-dark text-nowrap" type="button">Fill
            wallet
          </button>
        </div>
        <app-invalid-feedback *ngIf="formGroup.controls.wallet.invalid && !firstAttempt()">Wallet invàlida
        </app-invalid-feedback>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="password">Contrasenya
          <app-required-field *ngIf="!editing" />
        </label>
      </div>
      <div class="col">
        <div class="d-flex gap-2">
          <input class="form-control" formControlName="password" id="password" appInputHide />
        </div>
        <app-invalid-feedback *ngIf="formGroup.controls.password.invalid && !firstAttempt()">Contrasenya invàlida
        </app-invalid-feedback>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="role">Rol
          <app-required-field />
        </label>
      </div>
      <div class="col">
        <ng-select [clearable]="false" [items]="availableRoles()" formControlName="role" id="role"></ng-select>
        <app-invalid-feedback *ngIf="formGroup.controls.username.invalid && !firstAttempt()">Rol invàlid
        </app-invalid-feedback>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="row w-100 justify-content-end">
    <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-0">
      <button (click)="save()" class="w-100 btn btn-primary" form="form" type="submit">Guardar</button>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <button (click)="cancel()" class="w-100 btn btn-secondary" type="button">Cancel·lar</button>
    </div>
  </div>

</div>