<app-navbar></app-navbar>
<div class="row px-4 container-fluid justify-content-center">

  <div class="col-12 col-md-6 p-2 ps-4">
    
    <app-map (selectedAreaM2)="setSelectedAreaM2($event)"></app-map>

    <!-- <div *ngIf="map">
      <button (click)="multipleSelection()"  data-toggle="button" type="button" [ngClass]="map.multipleSelection ? 'btn btn-dark mt-2 active' : 'btn btn-dark mt-2'" >Selecció múltiple</button>
      
    </div> -->
    
    <button class="btn mt-2 btn-dark" (click)="folder = 0" ><i class="bi bi-search"></i> Cerca comunitats</button>

  </div>

  <div class="col-12 col-md-6 p-2">

    <!-- <div class="mb-2">
      <label for="cups">cups</label>
      <input id="cups" placeholder="CUPS" type="number" class="form-control">
    </div>

    <div class="mb-2">
      <label for="consum">consum</label>
      <input id="consum" placeholder="consum" type="number" class="form-control">
    </div> -->

    <div class="mb-2">

       <div class="row gx-2 gy-2 flex-wrap">
        <button class="btn col-12 col-sm-6 col-md-6 col-lg-3" [ngClass]="folder == 1 ? 'folder-selected' : 'btn-folder'" (click)="folder = 1" >Model predictiu</button>
        <button class="btn col-12 col-sm-6 col-md-6 col-lg-3" [ngClass]="folder == 2 ? 'folder-selected' : 'btn-folder'" (click)="folder = 2">Model real</button>
        <button class="btn col-12 col-sm-6 col-md-6 col-lg-3" [ngClass]="folder == 3 ? 'folder-selected' : 'btn-folder'"(click)="folder = 3">Dades consum</button>
        <button class="btn col-12 col-sm-6 col-md-6 col-lg-3" [ngClass]="folder == 4 ? 'folder-selected' : 'btn-folder'"(click)="folder = 4">Resum</button>
      </div> 

      <div *ngIf="folder == 0" class="mx-1 pt-4">
        
        <label for="location" class="my-2">Municipi</label>
        <select id="location" [(ngModel)]="selectedLocation" class="form-select px-2" (change)="OnSelectorChange(selectedLocation,'location')">
          <option></option>
          <option *ngFor="let location of locations" [ngValue]="location">{{location.municipality}}</option>
        </select>
      
        <label for="location-comunnity" class="my-2">Comunitats del municipi</label>
        <select id="location-comunnity" [(ngModel)]="selectedCommunity" class="form-select px-2" (change)="OnSelectorChange(selectedCommunity,'community')">
          <option></option>
          <option *ngFor="let community of selectedCommunities" [ngValue]="community">{{community.name}}</option>
        </select>
      
        <div *ngIf="selectedEnergyArea">
          <div class="my-2">Referència cadastral</div>
          <input id="" placeholder="referència cadastral" type="text" class="form-control" disabled readonly value="{{selectedEnergyArea.cadastral_reference}}">
          <div class="my-2">M2</div>
          <input id="" placeholder="m2" type="text" class="form-control" disabled readonly value="{{selectedAreaM2}}">
          <div class="my-2">Número de plaques</div>
          <input id="" placeholder="número de plaques" type="text" class="form-control" disabled readonly value="{{selectedEnergyArea.n_plaques || nPlaquesCalc}}">
          <div class="my-2">Producció mensual</div>
          <!-- <input id="" placeholder="produccio mensual" type="text" class="form-control" disabled readonly value="{{kwhMonth}}"> -->
          <app-chart [chartType]="monthChartType" [labels]="monthChartLabels" [datasets]="monthChartDatasets"
          [update]="updateMonthChart" [updateSubject]="updateMonthChartSubject.asObservable()"></app-chart>
        </div>


        <div *ngIf="energyArea">

          <div class="my-2">Referència cadastral</div>
          <input id="" placeholder="referència cadastral" type="text" class="form-control" value="{{energyArea.cadastral_reference}}">
  
          <div class="my-2">M2</div>
          <input id="" placeholder="m2" type="text" class="form-control" value="{{energyArea.m2 || 0}}">
  
          <div class="my-2">Cups</div>
          <input id="" placeholder="m2" type="text" class="form-control" value="{{energyArea.m2 || 0}}">
  
        </div>

      </div>

      <div *ngIf="folder == 1 && locations" class="mx-1 pt-4">
      
        <div class="row">

        <div class="col">
          <div class="my-2">M2 teulada</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>
        
        <div class="col">
          <div class="my-2">M2 plaques</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>

        <div class="col">
          <div class="my-2">N. plaques</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>

        <div class="col">
          <div class="my-2">Kwh Producció</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>
  
        <div class="col">
          <div class="my-2">Inversió</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>

      </div>

      <div class="my-2">Producció mensual (kWh)</div>

      <div class="row">
        <div *ngFor="let month of monthChartLabels; index as i" style="" class="col-6 col-sm-4 col-md-4 col-lg-1 col-xl-1 text-center">
          <div>{{i+1}}</div>
          <input id="" placeholder="" disabled type="text" class="form-control">
        </div>
      </div>

    <!-- TODO MONTH CHART -->

    </div>

     <div *ngIf="folder == 2" class="mx-1 pt-4">

      <div class="row">

        <div class="col">
          <div class="my-2">CUPS</div>
          <input id="" placeholder="" type="text" class="form-control" value="">
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="my-2">M2 teulada</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>
        
        <div class="col">
          <div class="my-2">M2 plaques</div>
          <input id="" placeholder="" type="text" class="form-control" value="">
        </div>

        <div class="col">
          <div class="my-2">N. plaques</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>

        <div class="col">
          <div class="my-2">Kwh Producció</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>
  
        <div class="col">
          <div class="my-2">Inversió</div>
          <input id="" placeholder="" type="text" disabled class="form-control" value="">
        </div>

      </div>

        <div class="my-2">Producció mensual (kWh)</div>
        <div class="row">
        <div *ngFor="let month of monthChartLabels; index as i" class="col-6 col-sm-4 col-md-4 col-lg-1 col-xl-1 text-center">
          <div>{{i+1}}</div>
          <input id="" placeholder="" type="text" disabled class="form-control">
        </div>
      </div>

<!-- TODO: month chart  -->

      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-dark"> Guarda la informació </button>
      </div>

      </div>
      
      <div *ngIf="folder == 3" class="mx-1 pt-4">
        
        <div class="row">

          <div class="col">
            <div class="my-2">Preu p1</div>
            <input id="" placeholder="" type="text"  class="form-control" value="">
          </div>
          
          <div class="col">
            <div class="my-2">Preu p2</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>
  
          <div class="col">
            <div class="my-2">Preu p3</div>
            <input id="" placeholder="" type="text"  class="form-control" value="">
          </div>
  
          <div class="col">
            <div class="my-2">Preu excedent</div>
            <input id="" placeholder="" type="text"  class="form-control" value="">
          </div>
    
          <div class="col">
            <div class="my-2">Preu intercanvi CEC</div>
            <input id="" placeholder="0.15" type="text" disabled class="form-control" value="">
          </div>
  
        </div>


        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <ng-container *ngFor="let month of monthChartLabels; index as i">
                <th scope="col">{{i+1}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">P1</th>
              <ng-container *ngFor="let data of monthChartClientData; index as i">
                <td>
                  <input placeholder="" type="number" class="form-control" value="{{data.p1}}">
                </td>
              </ng-container>
            </tr>
            <tr>
              <th scope="row">P2</th>
              <ng-container *ngFor="let data of monthChartClientData; index as i">
                <td>
                  <input placeholder="" type="number" class="form-control" value="{{data.p3}}">
                </td>
              </ng-container>
            </tr>
            <tr>
              <th scope="row">P3</th>
              <ng-container *ngFor="let data of monthChartClientData; index as i">
                <td>
                  <input placeholder="" type="number" class="form-control" value="{{data.p3}}">
                </td>
              </ng-container>
            </tr>
            <tr>
              <th scope="row">Producció</th>
              <ng-container *ngFor="let data of monthChartClientData; index as i">
                <td>
                  <input placeholder="" type="number" class="form-control" value="{{data.production}}">
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>

      <!-- TODO: month chart  -->

      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-dark"> Guarda la informació </button>
      </div>

      </div>

      <div *ngIf="folder == 4" class="mx-1 pt-4">

        <div class="row">

          <div class="my-2 text-center fw-bolder">Instal·lació individual</div>

          <div class="col">
            <div class="my-2">Total consum €</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>
          
          <div class="col">
            <div class="my-2">Total producció €</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>
  
          <div class="col">
            <div class="my-2">Total estalvi €</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>

          <div class="col">
            <div class="my-2">ROI</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>

        </div>

        <div class="row">

          <div class="my-2 text-center fw-bolder">Instal·lació agregada a comunitat energètica ciutadana</div>

          <div class="col">
            <div class="my-2">Total consum €</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>
          
          <div class="col">
            <div class="my-2">Total producció €</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>
  
          <div class="col">
            <div class="my-2">Total estalvi €</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>

          <div class="col">
            <div class="my-2">ROI</div>
            <input id="" placeholder="" type="text" class="form-control" value="">
          </div>

        </div>

        <!-- TODO: month chart  -->

        <div class="d-flex justify-content-center mt-5">
          <button type="button" class="btn btn-dark"> Guarda la informació </button>
        </div>

      </div>
      
      

      <!-- <label for="comunitat" class="my-2">Comunitat energética</label>
      <select id="comunitat" [(ngModel)]="selectedCommunity" class="form-select px-2" (change)="OnSelectorChange(selectedCommunity,'community')">
        <option></option>
        <option *ngFor="let community of communities" [ngValue]="community">{{community.name}}</option>
      </select> -->

      <!-- <label for="comunitat" class="my-2">comunitat</label>
      <div *ngIf="selectedCommunity">
        <input id="comunitat" placeholder="comunitat" type="text" class="form-control" disabled readonly  [ngModel]="selectedCommunity['name']">
      </div>
      <div *ngIf="!selectedCommunity">
        <input id="nom de comunitat" placeholder="comunitat" type="text" class="form-control" disabled readonly>
      </div> -->
    </div>

  </div>
</div>

