<app-navbar></app-navbar>
<div class="row px-4 container-flex">

  <div class="col-12 col-md-8 p-2">
    <app-map></app-map>
  </div>

  <div class="col-12 col-md-4 p-2">

    <div class="mb-2">
      <label for="cups">cups</label>
      <input id="cups" placeholder="CUPS" type="number" class="form-control">
    </div>

    <div class="mb-2">
      <label for="consum">consum</label>
      <input id="consum" placeholder="consum" type="number" class="form-control">
    </div>

    <div class="mb-2">
      <label for="comunitat">comunitat</label>
      <input id="comunitat" placeholder="comunitat" type="text" class="form-control" disabled readonly>
    </div>

  </div>
</div>

