ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
  }

  .folder-selected {
    background-color: rgb(172, 172, 172);
    cursor: pointer;
  }

  .btn-folder {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
  }

