<app-map [activeFeatures]="addedAreas" class="" style="width:100%;height:100%"></app-map>
<!-- position-absolute top-0 start-0 p-0 m-0 -->

<div class="card mt-2 bg-primary text-bg-dark position-absolute top-0" style="z-index:3; width: 500px;height: 40px;"
  [ngClass]=" isShrunk ? 'location-bar-closed' : 'location-bar-open'">

  <div class="row">

    <div class="col col-1 d-flex align-items-center p-0">
      <button class="btn ms-2 shadow-none border-0" type="button" (click)="redirectBack()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>

    <div class="col col-11 col-md-4 d-flex align-items-center justify-content-center">
      {{selectedLocation.municipality}}
    </div>

    <div class="col col-12 col-md-7">
      <select id="location-comunnity" [(ngModel)]="selectedCommunity" class="form-select px-2"
        (change)="OnSelectorChange(selectedCommunity,'community')" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-title="Tooltip on bottom">
        <option [ngValue]="newCommunity">Nova comunitat</option>
        <option *ngFor="let community of selectedCommunities" [ngValue]="community">{{community.name}}</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="selectedCommunity" class="position-absolute top-0 start-0 h-100" style=" z-index:2;">

  <div class="d-flex h-100">

    <nav class="d-flex flex-shrink-0 text-bg-dark d-md-block bg-primary h-100">

      <div class="py-3 d-flex flex-column h-100" [ngClass]=" isShrunk ? 'd-none' : 'open-nav'"
        style="max-height: 100vh;">
        <!-- overflow-y: scroll; overflow-x: hidden; -->

        <!-- <a [routerLink]="['/']" class="navbar-brand">ZERTIPOWER</a> -->
        <a [routerLink]="['/']" class="navbar-brand text-center">
          <img src="assets/img/navbar/zertipower-logo-blanc-horizontal.png" class="px-3" alt="zertipower-logo"
            style="width: 265px;">
          <!-- <img *ngIf="isShrunk" src="assets/img/navbar/zertipower-logo-blanc.png" class="w-100  px-3" alt="zertipower-logo"> -->
        </a>

        <hr class="mb-0">

        <div *ngIf="!selectedCadastre.feature" class="mt-4 ms-4">
          <span class="fs-5">Consum de la comunitat</span>

          <div class="row mt-2">
            <div class="col-3 d-flex justify-content-center">
              <span class="d-flex align-items-center me-2">Membres</span>
              <span *ngIf="selectedCommunity">{{selectedCommunity.cups_number}}</span>
            </div>
            <div class="col-3 d-flex justify-content-center">
              <span class="d-flex align-items-center me-2">Agregats {{addedAreas.length}}</span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col ms-2">
              <!-- <span class="d-flex align-items-center me-2 fs-5">Sumatori de la comunitat</span>  -->
              <!-- <span class="fs-6 d-flex align-items-center me-2">Les dades expressades són una estimació aproximada</span>  -->
            </div>
          </div>

          <div class="d-flex w-100">
            <div class="custom-chart " style="width:95%">
              <app-chart [chartId]="'communityChart'" [chartType]="communityMonthChartType" [labels]="monthChartLabels"
                [datasets]="communityMonthChartDatasets" [options]="communityMonthChartOptions"
                [updateSubject]="communityUpdateMonthChartSubject.asObservable()"></app-chart>
            </div>
          </div>

          <span class="fs-6 my-2">Valoració del consum comunitari</span>

          <div class="d-flex justify-content-center mt-3 mb-4">
            <i class="icon-face fa-regular fa-face-smile mx-3 fa-2x"
              [ngClass]="communityValoration==1 ? 'smile-color' : 'inactive-color'"></i>
            <i class="icon-face fa-regular fa-face-meh mx-3 fa-2x"
              [ngClass]="communityValoration==2 ? 'meh-color' : 'inactive-color'"></i>
            <i class="icon-face fa-regular fa-face-frown mx-3 fa-2x"
              [ngClass]="communityValoration==3 ? 'frown-color' : 'inactive-color'"></i>
          </div>


          
          <span class="fs-6 my-2">Llista d'agregats</span>
          <div class="btn-light" style="max-height: 283px; overflow-y: auto; overflow-x: hidden;">
            <div class="fs-6 my-2 row mt-3" *ngFor="let area of addedAreas; index as i" style="max-height: 50px; overflow: hidden;">
              <span class="col-3">area {{i}}</span>
              <button class="col-3 btn btn-secondary ms-2" type="button" (click)="editArea(i)"> Editar </button>
              <button class="col-3 btn btn-danger ms-2"    type="button" (click)="deleteArea(i)"> Esborrar </button>
            </div>
          </div>
          
        </div>

        <!-- <hr class="mb-0"> -->

        <div *ngIf="selectedCadastre.feature" class="mt-4 ms-4">

          <span class="fs-5 my-2 ">Potencial producció instal·lació fotovoltaica</span>

          <div class="mt-3">
            <span class="fs-6 bolder my-1">Consum mensual</span>
            <span class="fs-6 d-flex align-items-center me-2">Les dades expressades són una estimació aproximada</span>
          </div>

          <div class="row p-0 m-0 mt-4">
            <div class="col-4 d-flex p-0 m-0">
              <span class="d-flex align-items-center me-2 smile-color">Valle</span>
              <input type="number" class="form-control number-input" [(ngModel)]="selectedCadastre.valle" min="0"
                (change)="updateCadastreConsumption()">
            </div>
            <div class="col-4 d-flex p-0 m-0">
              <span class="d-flex align-items-center me-2 meh-color">Llano</span>
              <input type="number" class="form-control number-input" [(ngModel)]="selectedCadastre.llano" min="0"
                (change)="updateCadastreConsumption()">
            </div>
            <div class="col-4 d-flex p-0 m-0">
              <span class="d-flex align-items-center me-2 frown-color">Punta</span>
              <input type="number" class="form-control number-input" [(ngModel)]="selectedCadastre.punta" min="0"
                (change)="updateCadastreConsumption()">
            </div>
          </div>

          <div class="">
            <div class="custom-chart" style="width:95%">
              <app-chart [chartId]="'selectedCadastre'" [chartType]="selectedCadastreMonthChartType"
                [labels]="monthChartLabels" [datasets]="selectedCadastreMonthChartDatasets"
                [options]="communityMonthChartOptions"
                [updateSubject]="updateSelectedCadastreMonthChartSubject.asObservable()"></app-chart>
            </div>
          </div>

          <span class="fs-6 my-2">Valoració del teu consum</span>
          <div class="d-flex justify-content-center mt-3 mb-4">
            <i class="icon-face fa-regular fa-face-smile mx-3 fa-2x"
              [ngClass]="cadastreValoration==1 ? 'smile-color' : 'inactive-color'"></i>
            <i class="icon-face fa-regular fa-face-meh mx-3 fa-2x"
              [ngClass]="cadastreValoration==2 ? 'meh-color' : 'inactive-color'"></i>
            <i class="icon-face fa-regular fa-face-frown mx-3 fa-2x"
              [ngClass]="cadastreValoration==3 ? 'frown-color' : 'inactive-color'"></i>
          </div>

          <div class="">

            <div class="row ps-0 m-0 pb-2">

              <div class="col-3 d-flex m-0 p-0">
                <span class="d-flex align-items-center fs-12"> Nº de plaques</span>
              </div>

              <div class="col-3 m-0 p-0 d-flex align-items-center">
                <input type="number" class="form-control number-input" [(ngModel)]="this.selectedCadastre.n_plaques"
                  (change)="updateCadastreChart()" min="0" step="0">
              </div>

              <div class="col-3 d-flex m-0 p-0">
                <span class="d-flex align-items-center fs-12">Estalvi mensual</span>
              </div>

              <div class="col-3 m-0 p-0 d-flex align-items-center">
                <input type="number" class="form-control number-input" readonly disabled>
                <span class="d-flex align-items-center fs-12 ms-2">€</span>
              </div>

            </div>

            <div class="row ps-0 m-0 pb-2">

              <div class="col-3 d-flex m-0 p-0">
                <span class="d-flex align-items-center fs-12">Cost inicial d'inversió</span>
              </div>

              <div class="col-3 m-0 p-0 d-flex align-items-center">
                <input type="number" class="form-control number-input" readonly disabled>
                <span class="d-flex align-items-center fs-12 ms-2">€</span>
              </div>

              <div class="col-3 d-flex m-0 p-0">
                <span class="d-flex align-items-center fs-12">Anys per amortitzar</span>
              </div>

              <div class="col-3 m-0 p-0 d-flex align-items-center">
                <input type="number" class="form-control number-input" disabled readonly>
              </div>

            </div>

          </div>

          <div class="w-100 d-flex" *ngIf="!this.addedAreas.includes(this.selectedCadastre)">
            <button class="btn btn-secondary mt-4 w-92 " (click)="addArea()">Agregar a comunitat energètica</button>
          </div>
          <div class="w-100 d-flex" *ngIf="this.addedAreas.includes(this.selectedCadastre)">
            <button class="btn btn-secondary mt-4 w-92 " (click)="addArea()">Actualitzar</button>
          </div>
          <div class="w-100 d-flex">
            <button class="btn btn-danger mt-4 w-92" (click)="unselectArea(this.selectedCadastre)">Tornar</button>
          </div>

        </div>
      </div>

    </nav>

    <div id="div-shrink" class="d-flex align-items-center " style="height: 100vh;">
      <button class="btn btn-light border-0 ps-2 shadow-none rounded-start-0" (click)="changeShrinkState()"
        style="height: 50px;">
        <!--        <button class="btn btn-primary bg-transparent border-0 ps-2 shadow-none"-->
        <!--                [ngClass]="getThemeName() == 'Dark' ? 'text-light' : 'text-dark'" (click)="changeShrinkState()">-->
        <i *ngIf="isShrunk" class="fa-solid fa-caret-right fs-5"></i>
        <i *ngIf="!isShrunk" class="fa-solid fa-caret-left fs-5"></i>
      </button>
    </div>

  </div>

</div>