<form (ngSubmit)="login()" [formGroup]="formGroup" id="form" class="text-center">

  <app-google-signin-button></app-google-signin-button>

  <label class="form-label mt-4" for="user">Usuari o email</label>
  <div class="d-flex justify-content-center gap-2">
    <input class="form-control" formControlName="user" id="user" type="text">
  </div>

  <div>
    <label class="form-label mt-4" for="user">Contrasenya</label>
    <input class="form-control" formControlName="password" type="text">
  </div>

  <div>
    <button (click)="requestResetPassword()" class="btn btn-link" type="button">Has oblidat la teva
      contrasenya?</button>
  </div>

  <div>
    <button [disabled]="formGroup.invalid || loading" class="btn btn-primary mt-5 w-100" form="form"
      type="submit">Iniciar
      sessió</button>
  </div>

</form>