<form (ngSubmit)="login()" [formGroup]="formGroup" id="form" class="text-center">
  <div class="my-2">
    <app-google-signin-button></app-google-signin-button>
  </div>
  <div>
    <label for="user">Username or email</label>
    <div class="d-flex justify-content-center gap-2">
    <input class="form-control px-2" formControlName="user" id="user" type="text" style="max-width: 70%">
  </div>
  </div>
  <div>
    <label for="user">Password</label>
    <div class="d-flex justify-content-center gap-2" style="transform:translate(25px);">
      <input appInputHide class="form-control px-2" formControlName="password" type="text" style="max-width: 70% ">
    </div>
  </div>
  <div>
    <button (click)="requestResetPassword()" class="btn btn-link" type="button">Forgot your password?</button>
  </div>
 
  <div class="mt-4 row justify-content-center">
    <div class="col-12 col-md-8 col-lg-4 mb-5">
      <button [disabled]="formGroup.invalid" class="btn btn-primary px-5" form="form" type="submit">Login</button>
    </div>
  </div>
</form>


