
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-select {
    cursor: pointer;
}

select {
    -webkit-appearance:button !important;
        -moz-appearance:button !important;
            appearance:button !important;
    cursor: pointer;
}