<div class="modal-header">
  <h2>Comunitat {{community.name}}</h2>
</div>

<div class="modal-body p-2">

  <div class="row p-2">
    <div class="col-12 col-md-6">
      <form id="form" [formGroup]="form" (ngSubmit)="save()">
        <div class="row row-cols-2 row-cols-md-1">
          <div class="col my-3" *ngIf="id">
            <label class="form-label" for="id-input">id</label>
            <input id="id-input" type="number" formControlName="id" class="form-control" [readonly]="true">
          </div>
          <div class="col my-3">
            <label class="form-label" for="name-input"> Nom </label>
            <input id="name-input" type="string" formControlName="name" class="form-control">
          </div>

          <div class="col my-3">
            <label class="form-label" for="test-select">Tipus de compartició</label>
            <select name="test" id="tradeType-select" class="form-select" formControlName="tradeType">
              <option value="PREFERRED">Preferent</option>
              <option value="EQUITABLE">Equitatiu</option>
            </select>
          </div>

          <div class="col my-3">
            <label class="form-label" for="test-select">Municipi</label>
            <ng-select name="locationId" id="location-select" formControlName="locationId" (change)="updateMapLocation()">
              <ng-option *ngFor="let location of locations" [value]="location.id">{{location.municipality}}</ng-option>
            </ng-select>
          </div>

          <div class="col my-3">
            <div class="row">
              <div class="col-6">
                <label class="form-label" for="lat">Latitud</label>
                <input id="lat" type="string" formControlName="lat" class="form-control">
              </div>
              <div class="col-6">
                <label class="form-label" for="lng">Longitud</label>
                <input id="lng" type="string" formControlName="lng" class="form-control">
              </div>
            </div>
            
          </div>

          <div class="col my-3">
            <label class="form-label" for="test-select">Test</label>
            <select name="test" id="test-select" class="form-select" formControlName="test">
              <option value="1">Sí</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
      </form>

      <div class="row row-cols-2 row-cols-md-1">
        <div class="col my-3">
          <label class="form-label" for="cups-select">Cups de comunitat</label>
          <ng-select id="cups-select" [items]="customers" [multiple]="true" [(ngModel)]="communityCups"
            (change)="updateData()" bindLabel="cups">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
              {{item.name}} {{item.ubication}} {{item.cups}}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center">

      <!-- Chart type selector -->
      <div class="d-flex justify-content-center mt-2">
        
        <button 
        class="btn btn-primary m-1 w-100" 
        [ngClass]="{'btn-primary': selectedTab=='yearly', 'btn-secondary': selectedTab!='yearly'}"
        (click)="selectedTab='yearly'; getMonthsEnergy()"
        >
          Estadística anual
        </button>

        <button 
        class="btn btn-primary m-1 w-100" 
        [ngClass]="{'btn-primary': selectedTab=='monthly', 'btn-secondary': selectedTab!='monthly'}"
        (click)="selectedTab='monthly';getMonthEnergy()"
        >
          Estadística mensual
        </button>

        <button 
        class="btn btn-primary m-1 w-100" 
        [ngClass]="{'btn-primary': selectedTab=='daily', 'btn-secondary': selectedTab!='daily'}"
        (click)="selectedTab='daily'; getDayEnergy()"
        >
          Estadística diaria
        </button>

      </div>

      <!-- Type yearly -->

      <div *ngIf="selectedTab=='yearly'">
        <div class="d-flex justify-content-center my-2 mb-2">
          <input type="number" placeholder="year" class="form-control" style="max-width: 150px"
            [(ngModel)]="selectedYear" (change)="changeYear()">
        </div>
        <div class="d-flex justify-content-center" style="height:300px">
          <div class="custom-chart">
            <app-chart [chartType]="yearChartType" [labels]="yearChartLabels" [datasets]="yearChartDatasets"
              [updateSubject]="updateYearChartSubject.asObservable()"></app-chart>
          </div>
        </div>
      </div>

      <!-- Type monthly -->

      <div *ngIf="selectedTab=='monthly'">
        <div class="d-flex justify-content-center my-2 mb-2">
          <!-- <input type="number" placeholder="year" class="form-control" style="max-width: 150px" [(ngModel)]="selectedYear"
          (change)="changeMonth()"> -->

          <input type="month" placeholder="year" class="form-control" style="max-width: 250px"
            [(ngModel)]="selectedMonth" (change)="changeMonth()">
        </div>
        <div class="d-flex justify-content-center" style="height:300px">
          <div class="custom-chart">
            <app-chart [chartType]="monthChartType" [labels]="monthChartLabels" [datasets]="monthChartDatasets"
              [updateSubject]="updateMonthChartSubject.asObservable()"></app-chart>
          </div>
        </div>
      </div>

      <!-- Type daily -->

      <div *ngIf="selectedTab=='daily'">
        <div class="d-flex justify-content-center my-2 mb-2">

          <input id="textinput" [(ngModel)]="selectedDate" (change)="changeDay()" name="textinput" type="date"
            placeholder="Start Date" class="form-control input-md" style="max-width: 150px">

        </div>
        <div class="d-flex justify-content-center" style="height:300px">
          <div class="custom-chart">
            <app-chart [chartType]="dayChartType" [labels]="dayChartLabels" [datasets]="dayChartDatasets"
              [backgroundColor]="dayChartBackgroundColor"
              [updateSubject]="updateDayChartSubject.asObservable()"></app-chart>
          </div>
        </div>
      </div>

      <app-map class="w-100 mt-auto" style="height: 230px;" (selectedLatLng)="updateLatLng($event)"></app-map>

    </div>
  </div>
  </div>

<div class="modal-footer">
  <button type="submit" class="btn btn-primary" form="form">Guardar</button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
</div>