<div class="modal-header">
  <h2>communities editor</h2>
</div>
<div class="modal-body">


  <div class="row p-2">
    <div class="col-12 col-md-6">
      <form id="form" [formGroup]="form" (ngSubmit)="save()">
        <div class="row row-cols-2 row-cols-md-1">
          <div class="col">
            <label for="id-input">id</label>
            <input id="id-input" type="number" formControlName="id" class="form-control" [readonly]="true">
          </div>
          <div class="col">
            <label for="name-input">name</label>
            <input id="name-input" type="string" formControlName="name" class="form-control">
          </div>
          <div class="col">
            <label for="test-select">test</label>
            <select name="test" id="test-select" class="form-select">
              <option>yes</option>
              <option>no</option>
            </select>
          </div>

          <div class="col">
            <label for="created-at-input">created at</label>
            <input id="created-at-input" type="datetime-local" formControlName="createdAt" class="form-control disabled"
                   [readonly]="true">
          </div>
          <div class="col">
            <label for="updated-at-input">updated at</label>
            <input id="updated-at-input" type="datetime-local" formControlName="updatedAt" class="form-control disabled"
                   [readonly]="true">
          </div>
        </div>
      </form>

      <div class="row row-cols-2 row-cols-md-1">
        <div class="col">
          <label for="cups-select">community cups</label>
          <ng-select id="cups-select" placeholder="Select cups" [items]="customers" [multiple]="true"
                     [(ngModel)]="communityCups" (change)="changeCommunityCups(communityCups)" bindLabel="id">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox"
                     [ngModel]="item$.selected"/> {{item.name}} {{item.ubication}} {{item.cups}}
            </ng-template>
          </ng-select>
        </div>
        <div class="col">
          <label for="cups-select">Simulate generation</label>
          <select class=" px-2 form-select" placeholder="Select cups" (change)="changeSelectedCups(selectedCups)"
                  [(ngModel)]="selectedCups"> <!---->
            <option></option>
            <option *ngFor="let cups of communityCups" [ngValue]=cups>{{cups.name}} {{cups.ubication}}</option>
          </select>
          <!-- year generation x input number : no basar la multiplicacion en datos reales, sino en el porcentaje esperable de creación de energía en base a placas con x potencia
          por tanto poner formula: n placas con x eficencia y poder cambiar n, resultando más kwh -->
        </div>
      </div>
      <div *ngIf="selectedCups" class="row text-center mt-4">
        <div class="col-4 d-flex align-items-center">
          <input disabled placeholder="generation" value="{{selectedCups.yearEnergy.sumGeneration}}"
                 class="form-control" type="number">
        </div>


        <div class="col-4 d-flex align-items-center justify-content-center">
          x
          <input (input)="multiplyGeneration($event)" class="form-control mx-2" type="number"
                 value="{{selectedCups.yearEnergy.factor}}">
          =
        </div>

        <div class="col-4">
          <input disabled placeholder="generation" value="{{multiplyGenerationResult}}" class="form-control"
                 type="number">
        </div>

      </div>

    </div>
    <div class="col text-center">


     <!-- <app-chart></app-chart>-->

      <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-primary m-1" (click)="selectedTab='yearly'"> Year simulation</button>
        <button class="btn btn-primary m-1" (click)="selectedTab='monthly'"> Month simulation</button>
        <button class="btn btn-primary m-1" (click)="selectedTab='daily'"> Day simulation</button>
      </div>
      <div *ngIf="selectedTab=='yearly'">
        <div class="d-flex justify-content-center my-2">
          <input type="number" placeholder="year" class="form-control" style="max-width: 150px"
                 [(ngModel)]="selectedYear">
        </div>
        <!--<canvas class="m-2" id="yearly-chart"></canvas>-->
        <app-chart [chartType]="yearChartType" [labels]="yearChartLabels" [data]="yearChartData" [backgroundColor]="yearChartBackgroundColor" [update]="updateYearChart" [updateSubject]="updateYearChartSubject.asObservable()"></app-chart>
      </div>
      <div *ngIf="selectedTab=='monthly'">
        <div class="d-flex justify-content-center my-2">
          <input type="month" placeholder="month" class="form-control" style="max-width: 150px">
        </div>
        <!--<canvas class="m-2" id="weekly-chart"></canvas>-->
        <app-chart [chartType]="monthChartType" [labels]="monthChartLabels" [datasets]="monthChartDatasets" [update]="updateMonthChart" [updateSubject]="updateMonthChartSubject.asObservable()"></app-chart>
      </div>
      <div *ngIf="selectedTab=='daily'">
        <div class="d-flex justify-content-center my-2">
          <!--<input type="date" placeholder="day" class="form-control" style="max-width: 150px">-->
          <input id="textinput" [(ngModel)]="date" name="textinput" type="date" placeholder="Start Date" class="form-control input-md" style="max-width: 150px">
        </div>
        <!--<canvas class="m-2" id="hourly-chart"></canvas>-->
        <app-chart [chartType]="dayChartType" [labels]="dayChartLabels" [data]="dayChartData" [backgroundColor]="dayChartBackgroundColor" [update]="updateDayChart" [updateSubject]="updateDayChartSubject.asObservable()"></app-chart>
      </div>

    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" form="form">Save</button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
