/*.modal-body{
  height: 80vh;
}*/
.custom-chart{
  max-height: 455px;
  width: 100%;
}

.custom-chart-pie{
  max-height: 270px;
  width: 100%;
}

// .cups-select {
//   max-height: 200px;
//   overflow-y: scroll;
// }

// .ng-select-container {
//   max-height: 200px !important;
//   overflow-y: scroll !important;
// }

.ng-value-container {
  max-height: 100px !important;
  overflow-y: scroll !important;
}

