<div class="d-flex w-100" style="height: 100vh">
  <div [ngClass]="{'w-100': hideImage, 'w-50': !hideImage}" class="w-50">

    <div class="d-flex py-4 align-items-center flex-column w-100 h-100">

      <div class="mt-5 mb-5">
        <div class="d-flex justify-content-center w-100">
          <img *ngIf="themeStoreService.getCurrentThemeHTML() == 'light'" src="assets/img/logos/zertipower_logo.png"
            alt="zertifier-logo-black" style="width: 55%;">
          <img *ngIf="themeStoreService.getCurrentThemeHTML() != 'light' "
            src="assets/img/logos/zertipower_logo_white.png" 
            alt="zertifier-logo-white" style="width: 55%;">
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h3 class="text-center mb-4 fw-semibold mt-5" style="font-size: 45px">Iniciar sessión</h3>
        <app-web2-login-form></app-web2-login-form>
      </div>
     
    </div>

  </div>

    <img class="w-50 h-100 d-sm-none d-none d-md-block" [src]="imgSource" alt="random image">
    <!-- <div class="w-50 h-100 d-none d-lg-block"  [ngStyle]="{'background-image': 'url(' + imgSource + ')'}" style=" background-image: url('assets/img/login-4.webp');background-repeat: no-repeat;background-size: cover;"></div> -->

</div>