/* You can add global styles to this file, and also import other style files */



/*html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}*/

//:host {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//}

html, body { height: 100%; width: 100%; margin: 0; }

/*Datatable settings*/

// Colors
$primary: #0e2b4c;
$secondary: #5f7187;
$text-primary: #101828;
$text-secondary: #34393E;
$text-titles: #667085;
$success: #198754;
$danger: #DC3545;
$bg-page-light-color: #f4f6f6;
$navbar-link-light: #E9E9E9;
$navbar-link-dark: #525252;
$hr-light: #E9E9E9;
$hr-dark: #525252;


// Icons
$icon-standard: (
  small: 16px,
  big: 30px
);

$icon-arrow: (
  height: 12px,
  width: 14px
);

$icon-home: (
  height: 36px,
  width: 32px
);

// Texts
$text-navbar: (
  open: 12px,
  closed: 12px
);

$text-location: 25px;
$text-page-title: 20px;
$text-form: 18px;

// Buttons
$button-active-text: (
  modal: 12px,
  standard: 16px
);

$button-no-active-text: (
  modal: 11px,
  standard: 15px
);

$button-status-radius: (
  modal: 15px,
  standard: 25px
);

$button-status-radius: (
  modal: 15px,
  standard: 25px
);

$button-action-radius: 10px;
$button-add-text: 20px;

/* Importing Bootstrap SCSS file. */
//@import "@ng-select/ng-select/themes/default.theme.css";
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$nav-pills-link-active-bg: $primary;
$primary-rgb: $primary;
$body-bg: $bg-page-light-color;
$btn-bg: $primary;


.bg-primary{
  background-color: $primary !important;
}

.btn-primary{
  color: #e8e8e8;
}

.nav-link{
  color: $secondary;
}

.nav-link:hover, .nav-link:hover i {
  color: #aaaaaa;
}


.nav-link.active:hover i{
  color: white;
}


.nav-link i {
  min-width: 20px;
  text-align: center;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
  padding: 15px !important;
}

.ng-input input{
  color: black !important;
}

h2, h3, h4, h5, h6{
  color: $text-titles;
}

// Icons:
.icon {
  &--small {
    font-size: map-get($icon-standard, small);
  }

  &--big {
    font-size: map-get($icon-standard, big);
  }
}

.arrow-icon {
  height: map-get($icon-arrow, height);
  width: map-get($icon-arrow, width);
}

.home-icon {
  height: map-get($icon-home, height);
  width: map-get($icon-home, width);
}


@include color-mode(dark) {
  .nav-link{
    color: $navbar-link-light;
  }
  hr{
    border-color: $hr-light;
  }
  #div-shrink {
    &:hover {
      background-color: #0d2846;
    }
  }

  .ng-select-container, .ng-option{
    background-color: $body-bg-dark !important;
    border: 1px solid #495057 !important;
    color: $navbar-link-light !important;
  }

  .ng-dropdown-panel.ng-select-bottom{
    border: 0 !important;
  }
}

@include color-mode(light) {
  .nav-link{
    color: $navbar-link-dark;
  }
  hr{
    border-color: $hr-dark;
  }

  #div-shrink {
    &:hover {
      background: rgb(244,246,246);
    }
  }

  .ng-select-container, .ng-option{
    background-color: $bg-page-light-color;
    border: 1px solid $border-color;
    color: $navbar-link-dark;
  }
  .ng-dropdown-panel.ng-select-bottom{
    border: 0 !important;
  }
}

//-----------------------------------------------------------------

$table-border-width: 0;

.dataTables_filter label, .dataTables_filter .form-control {
  width: 100% !important;
}

.dataTables_filter .form-control {
  padding-left: 30px;
  margin-left: 0px !important;
}

.filter-input{
  // max-width: 90px;
  // min-width: 90px;
  //margin-bottom: 10px;
}

.dataTables_filter .fa-search {
  position: absolute;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 31px;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

