<div class="modal-header">
  <h3>Import private key</h3>
</div>
<div class="modal-body">
  <form (ngSubmit)="importWallet()" [formGroup]="form" id="form">
    <div class="row">
      <div class="col-12">
        <label for="private-key">Private key</label>
        <input class="form-control" formControlName="privateKey" id="private-key" type="text">
      </div>
      <div class="col-12">
        <label for="password1">Password</label>
        <div class="d-flex gap-2">
          <input appInputHide class="form-control" formControlName="password1" id="password1" type="text">
        </div>
      </div>
      <div class="col-12">
        <label for="password2">Password confirm</label>
        <div class="d-flex gap-2">
          <input appInputHide class="form-control" formControlName="password2" id="password2" type="text">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" form="form" type="submit">Import</button>
  <button (click)="cancel()" class="btn btn-secondary" type="button">Cancel</button>
</div>
